body {
    background-color: rgb(255, 255, 255); /* cor de fundo da página */
    margin: auto; /* centraliza o conteúdo horizontalmente */
    padding-top: 70px; /* evita que a nav fixa cubra o conteúdo inicial */
    color: #fff; /* cor do texto padrão */
    font-size: 20px; /* aumenta o tamanho da fonte padrão */
    background: url('Imagem/fundo.svg') center/cover no-repeat; /* imagem de fundo */
    background-size: cover;
    min-height: 100vh; /* garante que o corpo ocupe a altura total da viewport */
}    

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    text-align: left;
    background-color: #1a227e5e; /* fundo próprio pras células */
}

th {
    background-color: #1a237e;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #1a237e;
}